C1_Introduction/cmake-*
C2_Bases/cmake-*
C3_Pointeurs/cmake-*
C4_Allocation_dynamique_et_tableaux_2d/cmake-*
C5_Chaines_de_caracteres/cmake-*
C6_Bits/cmake-*
C7_Types_avancés/cmake-*
C8_Préprocesseur_et_compilation/cmake-*
C9_Fichiers/cmake-*
C10_Erreurs_et_tests/cmake-*
C11_Structures_de_donnees/cmake-*
C12_Aspects_avancés_C/cmake-*

C1_Introduction/.idea
C2_Bases/.idea
C3_Pointeurs/.idea
C4_Allocation_dynamique_et_tableaux_2d/.idea
C5_Chaines_de_caracteres/.idea
C6_Bits/.idea
C7_Types_avancés/.idea
C8_Préprocesseur_et_compilation/.idea
C9_Fichiers/.idea
C10_Erreurs_et_tests/.idea
C11_Structures_de_donnees/.idea
C12_Aspects_avancés_C/.idea